/ALVAN_REST_API/venv/*
/ALVAN_HUB_UI/alvan-hub-ui/node_modules/*
/ALVAN_REST_API/.vscode/*
!/ALVAN_REST_API/.vscode/tasks.json
/ALVAN_REST_API/src/API/machine_learning/training_data/*
/ALVAN_REST_API/src/API/training_data/*
!/ALVAN_REST_API/src/API/machine_learning/training_data/.gitkeep
!/ALVAN_REST_API/src/API/training_data/.gitkeep
/ALVAN_HUB_UI/alvan-hub-ui/package-lock.json
*pycache*