:root {
  --background: #2D2D2D;
  --active-background: #504f4f;
  --clock-color: #9C9E9B;
  --emphasis: #606060;
  --secondary-emphasis: #aeaeae;
  --active: #888888;
  --card-blue: #0EADFF;
  color: var(--clock-color);
  user-select: none;
}

html, body {
  max-width: 100%;
}

body {
  background-color: var(--background);
  overflow:hidden;
}

h1 {
  color: black;
}

.logo {
  cursor: pointer;
  opacity: .4;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  // filter: drop-shadow(-4px 4px 4px black);
}
.logo-back {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 10px;
  filter: drop-shadow(-2px 2px 2px #121212);
}

.clock {
  color: var(--clock-color);
  filter: drop-shadow(-2px 2px 2px #121212);
}

.nonselectable {
  user-select: none
}

.view-swap-button {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  min-width: 150px;
  height: 3rem;
  background-color: var(--clock-color);
  border-radius: 5px 5px 0 0;
}

.view-swap-button:active .google-sign-in-button:active {
  background-color: var(--emphasis);
}

.view-swap-button:active > .view-swap-label .google-sign-in-button > .view-swap-label {
  color: var(--secondary-emphasis);
}

.view-swap-label {
  width: fit-content;
  color: var(--background);
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-sign-in-button {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.calendar-separator {
  position: absolute;
  top: 15%;
  height: 75%;
  width: 2px;
  background-color: var(--card-blue);
}

.calendar-weather-view {
  transform: translate(-50%, -50px);
  position: absolute;
  top: 20%;
  width: fit-content;
  text-align: center;
  user-select: none
}

.weather-1 {
  left: 12.5%;
}

.weather-2 {
  left: 37.5%;
}

.weather-3 {
  left: 62.5%;
}

.weather-4 {
  left: 87.5%;
}

.line-1 {
  left: 25%;
}

.line-2 {
  left: 50%;
}

.line-3 {
  left: 75%;
}

.centered {
  position:absolute;
  transform: translate(-50%, 50%);
  top: 50%;
}

.inline-text {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 200px;
}

.inline-text > h3 {
  justify-content: left;
  position: relative;
  left: -50px;
  width: 200px;
}

.center-items {
  position: relative;
  top: -100%;
  left: 0;
}

.calendar-slot-component {
  position: absolute;
  top: 33%;
  width: 25%;
  word-wrap: normal;
  height: 100px;
}

.calendar-slot-item-component {
  position: static;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-style: none none solid solid;
  border-color: #9C9E9B;
  height: fit-content;
}

.calendar-slot-item-indicator {
  position: relative;
  top: 0;
  right: 0;
  width: 10px;
  height:10px;
}

.error-text {
  color: red;
}