:root {
  --background: #2D2D2D;
  --active-background: #504f4f;
  --clock-color: #9C9E9B;
  --emphasis: #606060;
  --secondary-emphasis: #aeaeae;
  --active: #888888;
  // --card-blue: #0EADFF;
  --card-blue: #008787;
  color: var(--clock-color);
  user-select: none;
}

html, body {
  max-width: 100%;
}

body {
  background: linear-gradient(145deg, var(--background), 75%,#003d3d);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow:hidden;
  margin: 0;
}

h1 {
  color: black;
}

.logo {
  cursor: pointer;
  opacity: .4;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  // filter: drop-shadow(-4px 4px 4px black);
}
.logo-back {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 10px;
  filter: drop-shadow(-2px 2px 2px #121212);
}

.clock {
  color: var(--clock-color);
  filter: drop-shadow(-2px 2px 2px #121212);
}

.nonselectable {
  user-select: none
}

.view-swap-button {
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  min-width: 150px;
  height: 3rem;
  background-color: var(--clock-color);
  border-radius: 5px 5px 0 0;
}

.view-swap-button:active .google-sign-in-button:active {
  background-color: var(--emphasis);
}

.view-swap-button:active > .view-swap-label .google-sign-in-button > .view-swap-label {
  color: var(--secondary-emphasis);
}

.view-swap-label {
  width: fit-content;
  color: var(--background);
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-sign-in-button {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.calendar-separator {
  position: relative;
  display: flex;
  height: 75vh;
  width: 2px;
  background-color: var(--card-blue);
}

.calendar-weather-view {
  position: relative;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  user-select: none;
  flex: 1;
}

.calendar-weather-view > h2 {
  display: flex;
}

.weather-icon {
  display: flex;
  align-self: center;
  background: radial-gradient(rgba(255, 255, 255, 0.2) 5%, transparent 74%);
  padding: 5px;
  margin-right: 5px;
}

.calendar-weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: calc(25vh / 2);
}

.calendar-slot-status-confirmed {
  background: linear-gradient(90deg, green, 1%, transparent);
}

.calendar-slot-status-tentative {
  background: linear-gradient(90deg, yellow, 1%, transparent);
}

.calendar-slot-status-canceled {
  background: linear-gradient(90deg, red, 1%, transparent);
}

.calendar-slot-status-undefined {
  background: linear-gradient(90deg, green, 1%, transparent);
}

.centered {
  display: flex;
}

.center-items {
  position: relative;
  top: -100%;
  left: 0;
}

.calendar-slot-container {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}

.calendar-slot-component {
  word-wrap: normal;
  height: 100px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  width: calc(25vw/1);
}

.calendar-slot-item-component {
  margin-bottom: 10px;
  border-style: none none solid solid;
  border-color: #9C9E9B;
  height: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
  padding: 5px;
}

.calendar-slot-item-indicator {
  position: relative;
  top: 0;
  right: 0;
  width: 10px;
  height:10px;
}

.error-text {
  color: red;
  padding: 3px;
  background-color: var(--active-background);
  border-radius: 5px;
}

.calendar-slot-item-component > b {
  display: flex;
}
.calendar-slot-item-component > span {
  display: flex;
  margin-left: 15%;
  border-left: 3px solid var(--card-background);
  padding-left: 5px;
}

.screen-container > span#please-sign-in{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size:xx-large;
  filter: drop-shadow(#121212 -2px 2px 2px );
}