<p style="color: green"><%= notice %></p>

<h1>Calendars</h1>

<div id="calendars">
  <% @calendars.each do |calendar| %>
    <%= render calendar %>
    <p>
      <%= link_to "Show this calendar", calendar %>
    </p>
  <% end %>
</div>

<%= link_to "New calendar", new_calendar_path %>
