.center {
  position: relative;
  top: 50%;
  left: -10px;
}

.button {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
  filter: drop-shadow(-1px 1px 1px #121212);
}

.emphasis {
  background-color: var(--clock-color);
}
.emphasis:active {
  background-color: var(--active);
}

.secondary {
  background-color: var(--secondary-emphasis);
}

.secondary:active {
  background-color: var(--active);
}

.footer {
  position: relative;
  bottom: 12px;
}

.card-content {
  min-height: fit-content;
  margin: 10px;
  margin-bottom: 50px;
}

.action-card-background {
  background-color: transparent;
  z-index: 1500;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.action-card {
  z-index: 2000;
  filter: drop-shadow(-2px 2px 2px #121212);
}

.button-spacer {
  background-color: transparent;
}