:root {
  --background: #2D2D2D;
  --clock-color: #9C9E9B;
}

body {
  background-color: var(--background);
  overflow:hidden;
}

h1 {
  color: black;
}

.logo {
  opacity: .4;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}
.logo-back {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 10px;
}

.clock {
  color: var(--clock-color);
}