:root {
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}

.completed-status-icon {
  vertical-align: baseline;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.add-new-task {
  margin-top: 15px;
  margin-bottom: 5px;
}

.add-new-task-icon {
  display: inline-block;
  margin-right: 10px;
}

.task {
  padding: 5px;
}

.task:active {
  background-color: var(--active-background);
}